*.meta
*.csproj
*.sln

*/.vscode
*/Library
*/obj
*/Temp
*/UnityPackageManager
/PhoneSDK/UnityProject/Temp
/PhoneSDK/UnityProject/Library
/ULuaHotFix/Assets/Source/Generate
/ULuaHotFix_tmp
/WeChat/WechaUnityProject/Temp
/WeChat/WechaUnityProject/Library
